# Copyright (c) 2016-present, CloudZero, Inc. All rights reserved.
# Licensed under the BSD-style license. See LICENSE file in the project root for full license information.

boto3==1.17.49
urllib3==1.26.17
voluptuous==0.12.0
toolz==0.11.1
